*{
    margin:0;
    box-sizing:border-box;
    padding:0;
    font-family: 'Gilroy';
}
/* ----------SCROLL-BAR CUSTOMISATION ---------------- */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color:#000;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(71, 71, 71);
    border-radius:10px;
}
html{
    scroll-behavior: smooth;
    background-color: #000;
}
/*-------------NAVBAR-----------*/
.navContainer{
    background-color:#11141B;
    width:100%;
    height: 13vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    top:0;
    position:fixed;
    z-index: 1;
}
.vig-logo{
    width:5vw;
    height:90%;
    margin:0 2rem;
}
.vig-logo img{
    height: 100%;
    width:100%;
}
.navlogo{
    height: 100%;
    display: flex;
    align-items: center;
    color:#fff;
    font-size: 3vmax;
    transition: all 1s step-start;
}
.navlogo:hover{
    /* background-color: #fff; */
    border-radius: 15px;
    #V{
        color: #4285F4;
    }
    #D{
        color: #DB4437;
    }
    #S{
        color: #F4B400;
    }
    #C{
        color: #0F9D58;
    }
}
.navlist{
    width: 40%;
    height:100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;    
}
.navListItem{
    text-decoration: none;
    font-size: 1.5vw;
    padding:0.75vw;
    color:#fff;
    border-radius:12px;
    transition: all 0.2s ease;
}
.navListItem:hover{
    color: #14EAFF;
    font-size: 1.7vw;
    box-shadow: 0 2px  rgb(188, 140, 140);
}
#navmenu{
    display: none;
}
.navmenudropbox{
    display: none;
}
/* ----------------RESPONSIVENESS KOSAM --------------*/
@media (max-width:700px){
    .vig-logo{
        width:10vw;
        height: 10vw;
    }
    .navContainer{
        height: 8vh;
    }
    .navListItem{
        display: none;
    }
    #navmenu{
        padding:2rem;
        color: aliceblue;
        display: inline-block;
        font-size: 2rem;
    }
    .navmenudropbox{
        display:none;
        left:0;
        position: fixed;
        top:8vh;
        width:100%;
        background-color:#11141B;
        text-align: center;
        z-index:100;
    }
    .navmenudropbox li{
        list-style: none;
        padding:2.5% 0 2.5%;
        box-shadow: 1px 0 2px rgb(187, 187, 187);
    }
    .navmenudropbox li:hover{
        border:3px solid #282828d4;
        color:#000000;
        background-color: darkcyan;
    }
    .navmenudropbox a{
        text-decoration: none;
        font-size: 1.5rem;
        color:#fff;
    }
}


                     /* ------------MAIN SECTION---------- */

/* -----------CLUB NAME AND CAPTION -----------*/
.clubName{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: color #000000;
    font-size: 2.5rem !important;
    color: purple;
}
.clubName h1 span:hover{
    color: rgba(255, 72, 30, 0.847);
}
span::selection{
    color: rgba(255, 72, 0, 0.826);
    background-color: #000;
}
/* -----------ABOUT US SECTION ----------- */
.aboutUs{
    width:100%;
    height:75vh;
    background-color: #121819;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.aboutustitle{
    width:40%;
    padding:10%;
    color: #F4B400;
    font-size: 4vmax;
}
.aboutuscontent{
    width:60%;
    padding:5%;
    font-size: 2vmax;
    color:rgba(240, 248, 255, 0.757);
}

@media  (max-width:800px){
    .clubName{
        width:100%;
        height: 95vh;
        background-color: #000;
        text-align: center;
        font-size: 3vmax;
        line-height: 10vmax;
        color: #173c94;
    }
    .aboutUs{
        width:100%;
        height:50%;
        background-color:  #080808;
        display: flex ;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .aboutustitle{
        width:100%;
        text-align: center;
        font-size: 3vmax;
        color: #F4B400;
    }
    .aboutuscontent{
        width:100%;
        padding:5%;
        font-size: 2vmax;
        /* text-align: center; */
        color:rgba(240, 248, 255, 0.757);
    }   
}
/* -------------OUR AVTIVITIES SECTION ------------- */
.ouractivities{
    width:100%;
    height: auto;
    background-color: #000000;
    text-align: center;
}
.activityheadingdiv{
    height: auto;
}
#activityheading{
    color:#fff;
    font-size: 4rem;
    letter-spacing: 5px; 
    margin-top:3%;
    display: inline-block;
    transition: box-shadow 1s linear;
    border-radius: 1rem;
}
#activityheading:hover{
   box-shadow: 0 1px 10px rgb(235, 161, 23);
}
.cardscontainer{
    width:100%;
    height:75vh;
    padding-top:2em;
    display: grid;
    justify-content: center;
    grid-gap:1.5em;
    grid-template-columns: repeat(auto-fit,minmax(350px,40%));
    margin:5% 0;
}
.card{
    border-radius:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: rgba(34, 34, 34, 0.755);
}
.card h1{
    font-size: 200%;
    color: #fff;
}
.card p{
    font: 10%;
    color: rgb(206, 206, 206);
}
.card:hover{
    top:-5%;
}
.card1:hover{
    box-shadow: 0 0 10px 10px #14EAFF;
}
.card2:hover{
    box-shadow: 0 0 10px 10px #14ffa5;
}
.card3:hover{
    box-shadow: 0 0 10px 10px #fff714;
}
.card4:hover{
    box-shadow: 0 0 10px 10px #e014ff;
}
/*-----------JOIN LINK BUTTON--------- */
.joinlink{
    width:100%;
    height:auto;
    padding:2vh;
    margin-top:10vh !important;
    font-size: 3vw;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.joinbutton{
    background-color: transparent;
    color: #14EAFF;
    font-size: 1rem;
    padding:1em;
    border:1px solid #14EAFF;
    border-radius:1rem;
}
.joinbutton:hover{
    background-color: #14EAFF;
    color: #000;
    box-shadow: 0 0 2px 3px #14EAFF;
    border-color: #000;
}
/* -------RESPONSIVENESS FOR MOBILE LANDSCAPE---------- */
@media (orientation:landscape){
    .joinlink{
        margin-top:35vh;
    }
}
@media (max-height:750px){
    .joinlink{
        margin-top:15vmax;
    }
}
/* ---------FOOTER-------------- */
.footercontent{
    margin-top:1em;
    width:100%;
    font-size: 1rem;
    padding:1em;
    color:#fff7f7;
    text-align: center;
    background-color: rgb(19, 17, 41);
}



